body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
.container h2 {
	color: cadetblue;
	font-size: 2rem;
	margin: 1.5em 1.3em;
	color: #FFFFFF;
	background: #333333;
	text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
	color: #FFFFFF;
	background: #333333;
}
#dealer-cards img,
#your-cards img {
	height: 175px;
	width: 125px;
	margin: 3px;
}
#hit,
#stay,
#reset {
	width: 100px;
	height: 50px;
	font-size: 20px;
}
.container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-image: url("./img/background/dark-blue-green-gradient.jpg");
}